<% bodyClass='body-class' %>
  <% cssFile='css/dashboard.css' %>

  	<div id="sensorVerificationMainDiv">
  		<h1 style="margin-bottom: 15px; font-family: 'Montserrat', sans-serif;">Senser Verfication Page</h1>
  		<a id="backBtn" href="/"><i class="fas fa-long-arrow-alt-left"></i> Go Back</a>
  		<h2 id="noSensorText" style="margin-top: 15px; font-family: 'Montserrat', sans-serif; display: none;">No Sensors Available</h2>
  		<div id="sensorVerificationLoader"></div>
  		<div id="sensorVerificationCards"></div>
  		<!-- Here Cards Comes Through Javascript -->
  	</div>

 <script src="/js/sensorVerification.js"></script>