#emailAlertsTooltip {
    padding: 10px;
    background-color: #f96332;
    border: 1px solid white;
    top: 0;
    position: fixed;
    display: none;
    z-index: 10;
}

#emailAlertsTooltip fieldset {
    border: 1px solid white;
    padding: 5px 15px 15px 10px;
    margin: 2px;
  }

#createAlertTooltipForm {
    display: grid; 
    grid-template-columns: 50% 50%;
}

#emailAlertsTooltip legend {
    color: white;
    font-size: 1.2rem;
}

#emailAlertsTooltip input[type=text] {
    width: 100%;
    padding: 3px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    border: none;
}


#emailAlertsTooltip label {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#emailAlertsTooltip button {
    border: 1px solid white;
    color: white;
    background: none;
    padding: 4px 12px;
    margin: 5px 0px 0px 3px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
}

#emailAlertsTooltip button:hover {
    background: white;
    color: #f96332;
}