* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-page h1 {
    margin-top: 6rem;
    font-size: 4rem;
    color: #f96332;
}

/* Bordered form */

form {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin: auto;
    margin-top: 10vh;
}

label {
    font-size: 22px;
}

/* Full-width inputs */

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}

/* Set a style for all buttons */

button {
    background-color: #f96332;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.3rem;
}

/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}

/* Add padding to containers */

.signup-container {
    padding: 16px;
}

.signup-container p a {
    color: #f96332;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.password {
        display: block;
        float: none;
    }
}

@media screen and (max-width: 700px) {
    span.password {
        display: block;
        float: none;
    }
    form {
        width: 90%;
    }
}

/* Alert */

.alert {
    padding: 14px;
    background-color: #f44336;
    color: white;
    margin: 20px;
    display: none;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}